
<% if signed_in? %>

<div class="menu">
  <a href="#home">
      <div class="item home">
         <img src="inc/images/bw/home.png">
         <div>Home</div>
      </div>
  </a>
  <a href="#clients">
      <div class="item client">
         <img src="inc/images/bw/client.png">
         <div>Clients</div>
      </div>
  </a>
  <a href="#Technology">
      <div class="item tech">
         <img src="inc/images/bw/lightbulb.png">
         <div>Technology</div>
      </div>
  </a>
  <a href="#careers">
      <div class="item career">
         <img src="inc/images/bw/briefcase.png">
         <div>Careers</div>
      </div>
  </a>
  <a href="#contact">
      <div class="item contact">
         <img src="inc/images/bw/earth.png">
         <div>Contact</div>
      </div>
  </a>
</div>  



<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="span8">
    <h3>Micropost Feed</h3>
    <%= render 'shared/feed' %>
  </div>
  
</div>
<% end %>
<% else %>
